*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe Ui', sans-serif;
}
:root{
    --dark-bg:#00000000 ;
    --darker-bg: #000000 ;
    --accent: #ff0000 ;
    --accent-glow: #962020 ;
    --text: #ffffff ;
}
body{
    background-color: rgb(78, 78, 78);
    line-height: 1.6;
    overflow-x: hidden;
}

/*navigation*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(87, 87, 87, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navlink{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.navlink a {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3 ease;
    position: relative;
}
.navlink a::after{
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--accent);
    transition: width 0.3s ease;
}
.navlink a:hover::after{
    width: 100%;
}
/*hero-section*/
.SobreMim{
    padding: 7rem 5%;
}
.hero-content{
    color: var(--text);
    list-style: none;
}
.habilidades{
    list-style: none ;
}
img.profile-image {
    width: 315px;
    height: 550px;
}
.projects{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact{
    list-style: none;
    padding: 1.5rem;
}
.contacts{
    list-style: none;
}